<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <script async src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      <h1>目次</h1>
      {% include toc.html html=content h_max=2 %}
      {{ content }}

      <footer class="site-footer">
        <span>
          <a href="/code-of-conduct">行動規範</a>
          | <a href="/feedback">ご指摘・ご提案</a>
          | <a href="https://join.slack.com/t/chirimen-oh/shared_invite/zt-3dvgmnu1x-LxCW09XdSXYGoLVKfnXZww">Slack に参加</a>
          | <a href="https://www.facebook.com/groups/chirimen/">Facebook</a>
          | <a href="https://twitter.com/chirimen_oh">Twitter</a>
        </span>
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">
            Github: <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>/<a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
            | <a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}">このページを編集</a>
          </span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
